<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="check.js"></script>
    <script type="text/javascript" src="coord.js"></script>
    <script type="text/javascript" src="tile.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  </head>
  <body ng-app ng-controller="main">
    <div id="map"></div>
    <div id="panel">
      <div ng-click="settype(0)" ng-class="{'active':type==0}" class="btn btn-default">無套疊</div>
      <div ng-click="settype(1)" ng-class="{'active':type==1}" class="btn btn-default">淹水潛勢圖</div>
      <div ng-click="settype(2)" ng-class="{'active':type==2}" class="btn btn-default">土地使用分區</div>
      <div ng-click="settype(3)" ng-class="{'active':type==3}" class="btn btn-default">土地使用分區(官方直連)</div>
      <div ng-click="settype(4)" ng-class="{'active':type==4}" class="btn btn-default">順向坡(官方直連)</div>
      <div ng-click="settype(5)" ng-class="{'active':type==5}" class="btn btn-default">順向坡滑動潛勢圖(官方直連)</div>
      <div ng-click="settype(6)" ng-class="{'active':type==6}" class="btn btn-default">斷層(官方直連)</div>
      <div ng-click="settype(7)" ng-class="{'active':type==7}" class="btn btn-default">土石流分佈(官方直連)</div>
      <div ng-click="settype(8)" ng-class="{'active':type==8}" class="btn btn-default">山崩分佈(官方直連)</div>
      <div ng-click="settype(9)" ng-class="{'active':type==9}" class="btn btn-default">落石潛勢(官方直連)</div>
      <div ng-click="settype(10)" ng-class="{'active':type==10}" class="btn btn-default">岩屑崩滑潛勢(官方直連)</div>
      <div ng-click="settype(11)" ng-class="{'active':type==11}" class="btn btn-default">岩體滑動復發潛勢(官方直連)</div>
      <div ng-click="settype(12)" ng-class="{'active':type==12}" class="btn btn-default">集水區土石流潛勢(官方直連)</div>
      <div ng-click="settype(13)" ng-class="{'active':type==13}" class="btn btn-default">重大崩坍範圍(官方直連)</div>
      <div ng-click="settype(14)" ng-class="{'active':type==14}" class="btn btn-default">客製化網址</div>
    </div>
  </body>
</html>