doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="check.js")
    script(type="text/javascript",src="coord.js")
    script(type="text/javascript",src="tile.js")
    script(type="text/javascript",src="tile/vector.js")
    script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  body(ng-app,ng-controller="main")
    #map
    #panel
      .btn.btn-default(ng-click="settype(0)",ng-class="{'active':type==0}") 無套疊
      .btn.btn-default(ng-click="settype(1)",ng-class="{'active':type==1}") 淹水潛勢圖
      .btn.btn-default(ng-click="settype(2)",ng-class="{'active':type==2}") 土地使用分區
      .btn.btn-default(ng-click="settype(3)",ng-class="{'active':type==3}") 土地使用分區(官方直連)
      .btn.btn-default(ng-click="settype(4)",ng-class="{'active':type==4}") 順向坡(官方直連)
      .btn.btn-default(ng-click="settype(5)",ng-class="{'active':type==5}") 順向坡滑動潛勢圖(官方直連)
      .btn.btn-default(ng-click="settype(6)",ng-class="{'active':type==6}") 斷層(官方直連)
      .btn.btn-default(ng-click="settype(7)",ng-class="{'active':type==7}") 土石流分佈(官方直連)
      .btn.btn-default(ng-click="settype(8)",ng-class="{'active':type==8}") 山崩分佈(官方直連)
      .btn.btn-default(ng-click="settype(9)",ng-class="{'active':type==9}") 落石潛勢(官方直連)
      .btn.btn-default(ng-click="settype(10)",ng-class="{'active':type==10}") 岩屑崩滑潛勢(官方直連)
      .btn.btn-default(ng-click="settype(11)",ng-class="{'active':type==11}") 岩體滑動復發潛勢(官方直連)
      .btn.btn-default(ng-click="settype(12)",ng-class="{'active':type==12}") 集水區土石流潛勢(官方直連)
      .btn.btn-default(ng-click="settype(13)",ng-class="{'active':type==13}") 重大崩坍範圍(官方直連)
      .btn.btn-default(ng-click="settype(14)",ng-class="{'active':type==14}") 客製化網址
