<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="check.js"></script>
    <script type="text/javascript" src="coord.js"></script>
    <script type="text/javascript" src="tile.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  </head>
  <body ng-app ng-controller="main">
    <div id="map"></div>
    <div id="panel">
      <div ng-click="settype(0)" ng-class="{'active':type==0}" class="btn btn-default">無套疊</div>
      <div ng-click="settype(1)" ng-class="{'active':type==1}" class="btn btn-default">淹水潛勢圖</div>
      <div ng-click="settype(2)" ng-class="{'active':type==2}" class="btn btn-default">土地使用分區</div>
      <div ng-click="settype(3)" ng-class="{'active':type==3}" class="btn btn-default">土地使用分區(官方直連)</div>
    </div>
  </body>
</html>